* {
    box-sizing: border-box;
}

body {
    margin: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafafa;
    color: #212121;
    line-height: 1.5;
}

ul {
    list-style-type: none;
    padding: 0;
}

input {
    padding: 8px 16px;
}

input:hover,
input:focus {
    border: 1px solid #000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
    -moz-appearance: textfield;
}

button {
    border: none;
    cursor: pointer;
}

/* Task1 styles */
#categories {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
}
.item {
    border-radius: 8px;
    padding: 16px;
    width: 392px;

    background-color: #f6f6fe;
    color: #2e2f42;
    letter-spacing: 0.04em;
}
.item-title {
    font-weight: 600;
    line-height: 1.33333;
}
.item-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.item-li {
    width: 360px;
    height: 40px;
    padding: 8px 16px;
    border: 1px solid #808080;
    border-radius: 4px;
}

/* Task2 styles */
.gallery-li {
    width: 375px;
    height: 250px;
    overflow: hidden;
    position: relative;
}
.gallery-img {
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Task3 styles */
#name-input {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

#name-input::placeholder {
    color: transparent;
    opacity: 1;
}

#name-input:hover::placeholder,
#name-input:focus::placeholder,
#name-input:active::placeholder {
    color: #2e2f42;
}

.heading {
    font-size: 24px;
    line-height: 1.33333;
    letter-spacing: 0.04em;
}

/* Task4 styles */
.login-form {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    border-radius: 8px;
    padding: 24px;
    width: 408px;
    height: 256px;
}
.login-label {
    display: flex;
    flex-wrap: wrap;
}
.login-input {
    width: 100%;
}
.form-btn {
    margin-top: 8px;
    border-radius: 8px;
    padding: 8px 16px;
    width: fit-content;
    height: 40px;
    background-color: #4e75ff;

    font-weight: 500;
    font-size: 16px;

    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}

/* Task5 styles */
.widget {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Task6 styles */
.wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
}
#controls,
#boxes {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    padding: 32px;

    border-radius: 8px;
    background-color: #f6f6fe;
}

.controls-input {
    border: 1px solid #808080;
    border-radius: 8px;
    padding: 8px;
    width: 150px;
    height: 40px;
    background-color: transparent;

    text-align: center;
}
.controls-btn {
    border-radius: 8px;
    padding: 8px 16px;
    width: 120px;
    height: 40px;
    background-color: #4e75ff;

    font-weight: 500;
    font-size: 16px;

    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}
.controls-btn:last-of-type {
    background-color: #ff4e4e;
}

.controls-btn:hover,
.controls-btn:focus {
    background-color: #6c8cff;
}
.controls-btn:last-of-type:hover,
.controls-btn:last-of-type:focus {
    background-color: #ff7070;
}
